.menu-hidden {
    display:none;
}

.menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(49,123,249);
    border-color: rgba(49,123,249,.40);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    
    position: fixed;
    margin: 10px;
    left: 675px;
    top: 153px;
}

.menu-button {
    background: white;
    border: 0;
}

.menu-item {
    font-size: 20px;
    padding: 5px;
}

.menu-item:hover {
    background-color: #e3f2ff;
}

.menu-item > .menu {
    display: none;
}

.menu-item:hover > .menu {
    display: block;
    position: absolute;
    top: 90px;
    left: 94px;
}

.menu-submenu:after {
    content: ' _';
}
