.menu-hidden {
    display:none;
}

.menu {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.9);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(49,123,249);
    border-color: rgba(49,123,249,.40);
    border-radius: 5px;
    padding: 0;
    list-style: none;
    position: absolute;
    
    z-index: 1;
    
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    -o-user-select      : none;
    user-select         : none;
}

.menu-button {
    background: white;
    border: 0;
}

.menu-item {
    font-size: 20px;
    padding: 3px 20px;
    position: relative;
}

.menu-item:hover {
    background-color: #e3f2ff;
}

.menu-item > .menu {
    display: none;
    top: 0;
    left: 100%;
}

.menu-item:hover > .menu {
    display: block;
}

.menu-submenu > label:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-left-color: rgb(49,123,249);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}
